.desktop {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #58a6de;
  cursor: default;
  background-image: url(/images/background.jpeg);
  background-size: cover;
  background-position: center;
  font-family: Tahoma, sans-serif;
}

.iconsContainer {
  position: absolute;
  top: 1.25rem; // top-5
  left: 1.25rem; // left-5
  display: flex;
  flex-direction: column;
  gap: 1.5rem; // gap-6
}

