.desktop {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  cursor: default;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Tahoma, sans-serif;
  transition: background-image 0.5s ease, background-color 0.3s ease;
}

.iconsContainer {
  position: absolute;
  top: 1.25rem; // top-5
  left: 1.25rem; // left-5
  display: flex;
  flex-direction: column;
  gap: 1.5rem; // gap-6
}
